# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node.js
node_modules/
dist/
build/

# Logs
*.log
npm-debug.log
yarn-error.log

# Temporary files
*.tmp
*.temp

# Environment variables
.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# IDE files
.vscode/
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.suo
*.user
*.userossc
*.sln.docstates

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db